@charset "utf-8";

/* index about　ご依頼についてのイラスト、ジャンルランダム */

$color-main: #C2678B;
$color-text: #5E3449;
$color-accent: #E8BACC;

$breakpoints: (
    "desktop": "screen and (min-width: 769px)",
    "tablet": "screen and (min-width: 414px)",
    ) !default;

@mixin m-query($breakpoint: "desktop") {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: (340/390)*100%, $mw: 1000px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin m-h2() {
    width: (491/1236)*100%;
    min-width: 200px
}

@function f-rem($value) {
    @return ($value/16)+rem;
}