@charset "utf-8";

$color-main: #C2678B;
$color-text: #5E3449;
$color-accent: #E8BACC;

$breakpoints: (
    "desktop": "screen and (min-width: 769px)",
    "tablet": "screen and (min-width: 414px)",
    ) !default;

@mixin m-query($breakpoint: "desktop") {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: (340/390)*100%, $mw: 1000px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin m-h2(){
    width:(491/1236)*100%;
    min-width: 200px
}

@function f-rem($value) {
    @return ($value/16)+rem;
}


/* base
----------------------------------*/
//  ######     ##       ####   #######
//   ##  ##   ####     ##  ##   ##   #
//   ##  ##  ##  ##   ##        ## #
//   #####   ##  ##   ##        ####
//   ##  ##  ######   ##        ## #
//   ##  ##  ##  ##    ##  ##   ##   #
//  ######   ##  ##     ####   #######




body {
    min-width: 280px;
    color: $color-text;
    font-size: f-rem(16);
    font-family: "Noto Sans",sans-serif,"ヒラギノ丸ゴ ProN",
        "Hiragino Maru Gothic ProN";
    line-height: (27/16);
    letter-spacing: 0;

    /* 文字選択色 */
    ::selection {
            background-color: $color-accent;
        }
}

img {

    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* header
----------------------------------*/
.header{
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    width:100%;
    padding:(10em/16) 0;
    border-bottom: #5E3449 solid 1px;
    background-color: rgba(255,255,255,0.7);

    &__inner{
        @include m-inner();
        @include m-flex();

    }

    &__logo{
        width:f-rem(85);

        @include m-query(){
            width:f-rem(120);
        }
    }
}

.nav{
    display: none;
    @include m-query() {
        display: block;
    }


    &__list {
        @include m-flex();
    }

    &__item {
        font-family:"Kaisei Decol","ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
        margin-left: (16em/16);
    }

    &__stop {
        cursor: pointer;
    }
}

.menu {
    cursor: pointer;

    &__pic{
        fill:$color-main;
        width: f-rem(38);

        @include m-query() {
            width: f-rem(44);
        }
    }

    &__text{
        text-align: center;
        font-family:"Major Mono Display",serif;
        font-size: f-rem(12);

        @include m-query() {
                font-size: f-rem(14);
            }
    }
}

/* footer */
.footer{
    &__inner{
        @include m-inner();
        @include m-flex();
    }

    &__copy{
        margin-left: auto;
        margin-right: auto;
    }
}


/* btn */
.btn{
    display: inline-block;
    width: fit-content;
    margin-top: (60em/16);
    margin-left: auto;
    padding: (15em/16) (20em/16);
    border:2px solid $color-main;
    border-radius: 100vh;
    @include m-flex(center,flex-start);
    transition: all 0.2s;

    &__text{
        font-size: 14px;
        margin-right: (7em/16);
        line-height: 1;
    }

    &__pic{
        width: f-rem(30);
        transition: all 0.3s;

        &--color{
            fill: $color-main;
        }
    }

    &__em{
        margin-right: (2em/16);
        font-weight: bold;
        color:$color-main;
    }

    &:hover {
        .btn__pic{
            transform: rotate(180deg);
        }
    }

    &--contact{
        position: relative;
        margin-right: auto;
        border: 2px solid $color-text;
        border-bottom: 7px solid $color-text;
        background-color: $color-main;
        color: #fff;
        fill:#fff;
        transition: all 0.2s;

        &::before{
            content: "＼ お気軽にご相談くださいませ！／";
            position: absolute;
            top: -(30em/14);
            left: (17em/14);
            color:$color-text;
            font-size: 12px;
        }

        &:hover{
            margin-top: (64em/16);
            border-bottom: 3px solid #2b2b2b;

            .btn__pic{
                transform: rotate(180deg);
            }
        }
    }
}

.sns{
    @include m-flex(center,flex-end);
    margin-top: 30px;

    &__item{
        margin-left: 5px;
        width:30px;
        transition: 0.2s;

        @include m-query(tablet){
            width: 40px;
        }

        &:hover{
            transform: translateY(-3px);
        }
    }

    &__pic {
        border-radius: 5px;
    }
    @include m-query(desktop) {
        border-radius: 10px;
    }
}

/* index
----------------------------------*/
//   ####    ##   ##  #####    #######  ##  ##
//    ##     ###  ##   ## ##    ##   #  ##  ##
//    ##     #### ##   ##  ##   ## #     ####
//    ##     ## ####   ##  ##   ####      ##
//    ##     ##  ###   ##  ##   ## #     ####
//    ##     ##   ##   ## ##    ##   #  ##  ##
//   ####    ##   ##  #####    #######  ##  ##

/* top */

.top{
    margin-bottom: 100px;

    &__inner{
        @include m-inner();
    }
        &__slider {
            position: relative;
            margin: 0 calc(50% - 50vw);
            padding: 0;
            width: 100vw;
            height: 695px;

            @include m-query(){
                height: 795px;
            }
        }

        &__slideing {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            background-size: cover;
            filter:blur(5px) saturate(70%);
            animation: slide 12s infinite;
        }

        @keyframes slide {
            0%,40%,100% {
                opacity: 0;
            }
            15%,25% {
                opacity: 1;
            }
        }

        &__slideing:nth-child(1) {
            background-image: url(../image/illustration/pic_top1.png);
            animation-delay: 0s;
        }

        &__slideing:nth-child(2) {
            background-image: url(../image/illustration/pic_top2.png);
            animation-delay: 3s;
        }

        &__slideing:nth-child(3) {
            background-image: url(../image/illustration/pic_top3.png);
            animation-delay: 6s;
        }

        &__slideing:nth-child(4) {
            background-image: url(../image/illustration/pic_top4.png);
            animation-delay: 9s;
        }
}

.content{
    &__slider{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width:100%;
        height: 700px;

        @include m-query(tablet) {
            width: (680/768)*100%;
        }

        @include m-query(desktop){
            margin-left: auto;
            margin-right: auto;
            padding: 400px 0;
            width: (900/1536)*100%;
            height: 100%;
        }

    }

    &__slideing{
        position:absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        opacity: 0;
        background: top center/cover;
        animation:slide 12s infinite;
    }

    @keyframes slide {
        0%,40%,100%{opacity: 0;}
        15%,25%{opacity: 1;}
    }

    &__slideing:nth-child(1){
        background-image:url(../image/illustration/pic_top1.png);
        background-position: top left -250px;
        animation-delay: 0s;
    }

    &__slideing:nth-child(2){
        background-image: url(../image/illustration/pic_top2.png);
        animation-delay: 3s;
    }

    &__slideing:nth-child(3) {
        background-image: url(../image/illustration/pic_top3.png);
        animation-delay: 6s;
    }

    &__slideing:nth-child(4) {
        background-image: url(../image/illustration/pic_top4.png);
        animation-delay: 9s;
    }

    &__title{
        position: absolute;
        width: 100%;
        left:0;
        bottom:-3%;
        @include m-flex(center,flex-start);

        &__name{
            width: 70%;
            max-width: 500px;
            padding: 0 10px;
        }

        &__site{
            margin-left: 20%;
            width: 60%;
            padding: 0 15px;
        }

        @include m-query(tablet){
            left: -6%;
            bottom: -5%;
        }


    }
}

/* handwriting */
#textName {
    mask: url(#maskName);
}

#textSite {
    mask: url(#maskSite);
}

@keyframes handwriting {
    0% {
        opacity: 1;
        stroke-dashoffset: 2500px;
    }

    70%,90% {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    95%,100%{
        opacity: 0;
    }
}

.handwriting {
    &__text {
        fill: #3a3a3aea;
    }

    &__mask {
        &__line {
            fill: none;
            stroke: #fff;
            stroke-width: 7;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 2500px;
            animation: handwriting 5s linear infinite;
        }
    }
}

/* work */
.work{
    &__inner{
        @include m-inner();
    }

    &__title{
        @include m-h2();
    }

    &__list{
        @include m-flex(center center);
    }

    &__item{
        width: (593/1236)*100%;


        @include m-query(tablet){
            width: (387/1236)*100%;
        }

        @include m-query(desktop) {
            width: (290/1236)*100%;
        }
    }
}

/* profile */
.profile{
    &__inner{
        @include m-inner();
    }

    &__title {
        @include m-h2();
    }

    &__content{
        @include m-query(tablet){
            @include m-flex();
        }
    }

    &__pic{
        @include m-query(tablet) {
            width: (431/1236)*100%;
        }
    }

    &__outer{
        @include m-query(tablet) {
            width:(705/1236)*100%;
        }
    }

    span{
        display: inline-block;
    }
}

/* contact */
.contact{
    &__inner{
        @include m-inner();
    }

    &__title {
        @include m-h2();
    }

    &__text{
        span{
            display: inline-block;
        }
    }
}

/* about */
@keyframes scroll-right {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.about{
    &__inner{
        @include m-inner();
    }

    &__title {
        @include m-h2();
    }

    /* スクロールアニメーション */
    &__scroll{
        overflow: hidden;
        display: flex;
    }

    &__list{
        display: flex;
        animation: scroll-right 30s linear infinite;
    }

    &__item{
        padding: 0 2px;
        width: calc(100vw/3);
    }

    &__pic{
        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;

        @include m-query(){
        }
    }
}

/* profile
-------------------------------------*/
//  ######   ######    #####   #######   ####    ####     #######
//   ##  ##   ##  ##  ##   ##   ##   #    ##      ##       ##   #
//   ##  ##   ##  ##  ##   ##   ## #      ##      ##       ## #
//   #####    #####   ##   ##   ####      ##      ##       ####
//   ##       ## ##   ##   ##   ## #      ##      ##   #   ## #
//   ##       ##  ##  ##   ##   ##        ##      ##  ##   ##   #
//  ####     #### ##   #####   ####      ####    #######  #######

/* career */
.career{

    &__inner{
        @include m-inner();
    }

    &__content{
        margin-bottom: 100px
    }

    &__list{
        margin-bottom: 100px;
        @include m-flex(flex-start,flex-start);
    }

    &__item{
        margin-right: 20px;
        font-size: 30px;
        font-weight: bold;
    }

    &__group{

    }

    &__pic{
        width:200px;
    }

}



/* work
-------------------------------------*/
//  ##   ##   #####   ######   ###  ##
//  ##   ##  ##   ##   ##  ##   ##  ##
//  ##   ##  ##   ##   ##  ##   ## ##
//  ## # ##  ##   ##   #####    ####
//  #######  ##   ##   ## ##    ## ##
//  ### ###  ##   ##   ##  ##   ##  ##
//  ##   ##   #####   #### ##  ###  ##



/* about
-------------------------------------*/
//    ##     ######    #####   ##   ##  ######
//   ####     ##  ##  ##   ##  ##   ##  # ## #
//  ##  ##    ##  ##  ##   ##  ##   ##    ##
//  ##  ##    #####   ##   ##  ##   ##    ##
//  ######    ##  ##  ##   ##  ##   ##    ##
//  ##  ##    ##  ##  ##   ##  ##   ##    ##
//  ##  ##   ######    #####    #####    ####



/* contact
-------------------------------------*/
//    ####    #####   ##   ##  ######     ##       ####   ######
//   ##  ##  ##   ##  ###  ##  # ## #    ####     ##  ##  # ## #
//  ##       ##   ##  #### ##    ##     ##  ##   ##         ##
//  ##       ##   ##  ## ####    ##     ##  ##   ##         ##
//  ##       ##   ##  ##  ###    ##     ######   ##         ##
//   ##  ##  ##   ##  ##   ##    ##     ##  ##    ##  ##    ##
//    ####    #####   ##   ##   ####    ##  ##     ####    ####
