@charset "UTF-8";
/* base */
body {
  color: #5E3449;
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif, "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN";
  line-height: 1.6875;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* header
----------------------------------*/
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.625em 0;
  border-bottom: #5E3449 solid 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.header__inner {
  width: 87.1794871795%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 85px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 120px;
  }
}

.nav__menu {
  width: 2.375rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav__menu {
    width: 2.75rem;
  }
}
.nav__stop {
  cursor: pointer;
}
.nav--mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav--mobile {
    display: block;
  }
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  font-family: "Kaisei Decol", "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN";
  margin-left: 1em;
}

/* footer */
/* index
----------------------------------*/
/* top */
.top__inner {
  width: 87.1794871795%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.top__slider {
  position: relative;
  margin: 0 calc(50% - 50vw);
  padding: 0;
  width: 100vw;
  height: 700px;
}
@media screen and (min-width: 768px) {
  .top__slider {
    height: 827px;
  }
}
.top__slideing {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-size: cover;
  filter: blur(6px) saturate(70%);
  -webkit-animation: slide 12s infinite;
          animation: slide 12s infinite;
}
@-webkit-keyframes slide {
  0%, 40%, 100% {
    opacity: 0;
  }
  15%, 25% {
    opacity: 1;
  }
}
@keyframes slide {
  0%, 40%, 100% {
    opacity: 0;
  }
  15%, 25% {
    opacity: 1;
  }
}
.top__slideing:nth-child(1) {
  background-image: url(../image/illustration/pic_top1.png);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.top__slideing:nth-child(2) {
  background-image: url(../image/illustration/pic_top2.png);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.top__slideing:nth-child(3) {
  background-image: url(../image/illustration/pic_top3.png);
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.top__slideing:nth-child(4) {
  background-image: url(../image/illustration/pic_top4.png);
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.content__slider {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  height: 700px;
}
@media screen and (min-width: 414px) {
  .content__slider {
    width: 88.5416666667%;
  }
}
@media screen and (min-width: 768px) {
  .content__slider {
    margin-left: auto;
    margin-right: auto;
    padding: 400px 0;
    width: 58.59375%;
    height: 100%;
  }
}
.content__slideing {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: top center/cover;
  -webkit-animation: slide 12s infinite;
          animation: slide 12s infinite;
}
@keyframes slide {
  0%, 40%, 100% {
    opacity: 0;
  }
  15%, 25% {
    opacity: 1;
  }
}
.content__slideing:nth-child(1) {
  background-image: url(../image/illustration/pic_top1.png);
  background-position: top left -250px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.content__slideing:nth-child(2) {
  background-image: url(../image/illustration/pic_top2.png);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.content__slideing:nth-child(3) {
  background-image: url(../image/illustration/pic_top3.png);
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.content__slideing:nth-child(4) {
  background-image: url(../image/illustration/pic_top4.png);
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
/*# sourceMappingURL=style.css.map */